<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Модели в Django</title>
</head>
<body class="container"  bgcolor="#F6A1FF">
    <div id="header" >
        <h5 align="right"><a href="/accounts/login/">Выйти из аккаунта</a></h5>
        <h1 align="center">Резервные копии<h1>
        <h3 align="center"><a href = "{% url 'home' %}">назад</a></h3>
    </div>
    <table border="1" width="100%">

        <tr>
            <th> Добавление копии </th>
            <th> Удаление копии </th>
            <th> Изменение копии </th>
        </tr>
    <tr>
        <th align="center">
            <form method="POST" action="add/">
            {% csrf_token %}
            <table>
                {{ form }}
            </table>
                <br>
            <input type="submit" value="Добавить копию">
            </form>
        </th>
        <th align="center">
            <form method="POST" action="del/">
            {% csrf_token %}
            <label>Введите id</label>
            <input type= "number" name="del_int"><br>
            <br>
            <input type= "submit" value="Удалить копию">
            </form>
        </th>
        <th align="center">
            <br>
            <form method="POST" action="update/">
            {% csrf_token %}
            <label>Введите id</label>
            <input type= "number" name="update_int"><br>
            <table>
                {{ form }}
            </table>
            <br>
            <input type= "submit" value="Изменить копию">
            </form>
        </th>
    </tr>
    </table>


	<form method="POST" action="show/">
        {% csrf_token %}
        <table border="1" width="100%">
            <tr align="center" bgcolor="grey">
                <th>Id</th>
                <th>Номер</th>
                <th>Имя</th>
            </tr>
        {% for i in data %}
            <tr align="center">
                <td>{{ i.id }}</td>
                <td>{{ i.number }}</td>
                <td>{{ i.name }}</td>
            </tr>
        {% endfor %}
        </table>
        </form>
        </td>


</body>
</html>